body {
    background:linear-gradient(to right,#141E30,#1D263B,#1B2A41,#243B55);
    box-sizing:border-box;
    font-family:"Segoe UI",sans-serif;
    margin:0;
    padding:20px;
    text-align:center
}

h1 {
    color:#61dafb;
    font-size:2.5em;
    margin-bottom:20px;
    text-align:center;
    text-shadow:0 0 7px #0005
}

#header-desc {
    text-align:center;
    text-shadow: 0 0 5px #000;
}

#header-desc a {
    color:#83e0ff;
    text-decoration:none
}

#header-desc a:hover {
    text-decoration:underline
}

hr {
    background-image:linear-gradient(to right,#0000,#61dafb,#0000);
    border:0;
    height:1px;
    margin-bottom:30px
}

#header-desc {
    color:#fff
}

h1,h2,h3 {
    color:#61dafb;
    margin-bottom:6px
}

p {
    margin-top:0
}

h3 {
    margin-bottom:0
}

a {
    color:#61dafb;
    text-decoration:none;
}

a:hover {
    color:#83e0ff;
    text-decoration:underline
}

code {
    border-radius:5px;
    color:#de0135;
    display:inline-block;
    margin:0 2px;
    padding:5px 10px
}

#options label {
    color:#bbb;
    font-weight:700;
    margin-bottom:5px
}

input,select,button {
    background-color:#3A3F4A;
    border:2px solid #444;
    border-radius:8px;
    box-sizing:border-box;
    color:#FFF;
    font-size:15px;
    margin:5px 0;
    padding:10px;
    transition:all .1s ease-in-out;
    width:100%
}

input:focus,select:focus {
    background-color:#484E5A;
    border-color:#61dafb;
    box-shadow:0 0 0 2px #61dafb80;
    outline:none
}

button {
    background:#196BCA linear-gradient(to right,#196BCA,#6433E0);
    border:0;
    box-shadow:0 2px 4px #0006;
    cursor:pointer;
    font-size:17px
}

button:hover,button:active {
    background:#5482d0 linear-gradient(to right,#5482d0,#7d5ee3)
}

section {
    background-color:#292d35;
    background-image:linear-gradient(145deg,#29323c 0%,#232831 100%);
    border-radius:10px;
    box-shadow:0 8px 16px #00000040;
    color:#fff;
    margin:20px auto;
    max-width:100%;
    padding:20px;
    transition:transform .3s ease-in-out,box-shadow .3s ease-in-out;
    width:auto
}

section:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.2);
}

#local-control,#remote-control {
    align-items:center;
    display:flex;
    gap:20px;
    justify-content:space-between
}

#local-control-text,#local-control-config,#remote-control-text,#remote-control-img {
    flex:1
}

#local-control img,#remote-control img {
    height:auto;
    max-width:100%
}